.dash-container {
    max-width: 100vw;

    .dashboard {
        display: flex;

        .dash-left {
            width: 20%;
            background-color: #0d1117;
            height: 100vh;

            .v-nav {
                display: flex;
                flex-direction: column;
                padding: 1rem;
                gap: 1rem;

                a {
                    text-decoration: none;
                    color: #fff;
                }

                .v-nav-item {
                    display: flex;
                    justify-content: space-between;
                    padding: 0.5rem;
                    background-color: #161b22;
                    border-radius: 0.5rem;
                }

                .btn-logout {
                    padding: 0.5rem;
                    background-color: blue;
                    border-radius: 0.5rem;
                    text-align: center;
                    font-weight: 600;
                    cursor: pointer;
                    transition: all 0.1s ease-in-out;

                    &:hover {
                        background: rgb(129, 129, 255);
                        color: blue;
                    }

                    &:active {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .dash-right {
            width: 100%;

            .dash-top {
                padding: 1rem;

                .h-nav {
                    padding: 0.5rem 2rem;
                    background-color: #0d1117;
                    border-radius: 0.5rem;
                    display: flex;
                    justify-content: end;

                    .h-nav-item {
                        // background-color: #0d1117;
                        // padding: 0.5rem;
                    }
                }
            }

            .dash-bottom {
                padding: 1rem;

                .dash-content {
                    background: #0d1117;
                    border-radius: 0.5rem;
                    padding: 0 1rem 1rem 1rem;

                    .dash-title {
                        display: flex;
                        padding: 1rem 0;
                        align-items: center;
                        justify-content: space-between;

                        .greet-title {
                            font-size: 2rem;
                            font-weight: 700;
                        }

                        .date-title {
                            padding: 0.5rem;
                            border-radius: 0.5rem;
                            background-color: #161b22;
                        }
                    }

                    .btn-attend-container {
                        background-color: #161b22;
                        height: 400px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 0.5rem;

                        a {
                            text-decoration: none;
                            color: #fff;
                        }

                        .btn-attend {
                            border-radius: 0.5rem;
                            padding: 0.5rem 1rem;
                            background-color: blue;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.add-student-container {
    .add-student {
        .add-container {
            width: 70vw;
            // height: 80vh;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;

            .add-form {
                width: 300px;

                .add-form-title {
                    font-size: 2rem;
                    font-weight: 700;
                    text-align: center;
                    padding: 1rem;
                }

                .add-form-content {
                    .add-form-group {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;

                        label {
                            font-size: 0.9rem;
                            font-weight: 200;
                        }

                        input {
                            padding: 0.6rem 1rem;
                            background-color: #0d1117;
                            border: none;
                            color: #fff;
                            border-radius: 0.5rem;
                            margin-bottom: 0.6rem;
                            font-family: 'Poppins', sans-serif;

                            &:focus {
                                outline: none;
                            }
                        }
                    }

                    .btn-add-student {
                        padding: 1rem 0;

                        input {
                            width: 100%;
                            padding: 0.6rem 1rem;
                            background-color: blue;
                            border: none;
                            color: #fff;
                            border-radius: 0.5rem;
                            margin-bottom: 0.6rem;
                            font-family: 'Poppins', sans-serif;
                            font-weight: 600;
                            cursor: pointer;
                            transition: all 0.1s ease-in-out;

                            &:hover {
                                background: rgb(129, 129, 255);
                                color: blue;
                            }

                            &:active {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .dash-container {
        .dashboard {
            flex-direction: column;

            .dash-left {
                height: auto;
                width: 100%;

                .v-nav {
                    flex-direction: row;
                    flex-wrap: wrap;

                    .v-nav-item {
                        // width: 40%;
                    }

                    .btn-logout {
                        // width: 40%;
                    }
                }
            }

            .dash-right {
                .dash-bottom {
                    .dash-content {
                        .dash-title {
                            flex-direction: column;
                            gap: 1em;

                            .greet-title {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .add-student-container {
        .add-student {
            .add-container {
                width: 90vw;

                .add-form {
                    width: 100%;
                }
            }
        }
    }
}