.dash-container {
  max-width: 100vw;
}

.dash-container .dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dash-container .dashboard .dash-left {
  width: 20%;
  background-color: #0d1117;
  height: 100vh;
}

.dash-container .dashboard .dash-left .v-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.dash-container .dashboard .dash-left .v-nav a {
  text-decoration: none;
  color: #fff;
}

.dash-container .dashboard .dash-left .v-nav .v-nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: #161b22;
  border-radius: 0.5rem;
}

.dash-container .dashboard .dash-left .v-nav .btn-logout {
  padding: 0.5rem;
  background-color: blue;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.dash-container .dashboard .dash-left .v-nav .btn-logout:hover {
  background: #8181ff;
  color: blue;
}

.dash-container .dashboard .dash-left .v-nav .btn-logout:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.dash-container .dashboard .dash-right {
  width: 100%;
}

.dash-container .dashboard .dash-right .dash-top {
  padding: 1rem;
}

.dash-container .dashboard .dash-right .dash-top .h-nav {
  padding: 0.5rem 2rem;
  background-color: #0d1117;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.dash-container .dashboard .dash-right .dash-top .h-nav .h-nav-item .profile {
  cursor: pointer;
}

.dash-container .dashboard .dash-right .dash-bottom {
  padding: 1rem;
}

.dash-container .dashboard .dash-right .dash-bottom .dash-content {
  background: #0d1117;
  border-radius: 0.5rem;
  padding: 0 1rem 1rem 1rem;
}

.dash-container .dashboard .dash-right .dash-bottom .dash-content .dash-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dash-container .dashboard .dash-right .dash-bottom .dash-content .dash-title .greet-title {
  font-size: 2rem;
  font-weight: 700;
}

.dash-container .dashboard .dash-right .dash-bottom .dash-content .dash-title .date-title {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #161b22;
}

.dash-container .dashboard .dash-right .dash-bottom .dash-content .btn-attend-container {
  background-color: #161b22;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.5rem;
}

.dash-container .dashboard .dash-right .dash-bottom .dash-content .btn-attend-container a {
  text-decoration: none;
  color: #fff;
}

.dash-container .dashboard .dash-right .dash-bottom .dash-content .btn-attend-container .btn-attend {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: blue;
  cursor: pointer;
}

.add-student-container .add-student .add-container {
  width: 70vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-student-container .add-student .add-container .add-form {
  width: 300px;
}

.add-student-container .add-student .add-container .add-form .add-form-title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
}

.add-student-container .add-student .add-container .add-form .add-form-content .add-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.add-student-container .add-student .add-container .add-form .add-form-content .add-form-group label {
  font-size: 0.9rem;
  font-weight: 200;
}

.add-student-container .add-student .add-container .add-form .add-form-content .add-form-group input {
  padding: 0.6rem 1rem;
  background-color: #0d1117;
  border: none;
  color: #fff;
  border-radius: 0.5rem;
  margin-bottom: 0.6rem;
  font-family: 'Poppins', sans-serif;
}

.add-student-container .add-student .add-container .add-form .add-form-content .add-form-group input:focus {
  outline: none;
}

.add-student-container .add-student .add-container .add-form .add-form-content .btn-add-student {
  padding: 1rem 0;
}

.add-student-container .add-student .add-container .add-form .add-form-content .btn-add-student input {
  width: 100%;
  padding: 0.6rem 1rem;
  background-color: blue;
  border: none;
  color: #fff;
  border-radius: 0.5rem;
  margin-bottom: 0.6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.add-student-container .add-student .add-container .add-form .add-form-content .btn-add-student input:hover {
  background: #8181ff;
  color: blue;
}

.add-student-container .add-student .add-container .add-form .add-form-content .btn-add-student input:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.profile-container .profile .profile-content-container {
  height: 100vh;
}

.mark-attendance-container .mark-attendance .mark-content .cam-container {
  height: 80vh;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mark-attendance-container .mark-attendance .mark-content .cam-container video {
  height: 100%;
  width: 100%;
}

.mark-attendance-container .mark-attendance .mark-content .cam-container canvas {
  position: absolute;
  height: 80%;
}

.mark-attendance-container .mark-attendance .mark-content .btn-mark-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
  padding: 2rem 0;
}

.mark-attendance-container .mark-attendance .mark-content .btn-mark-container .btn-mark {
  cursor: pointer;
  background-color: blue;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

.mark-attendance-container .mark-attendance .mark-content .btn-mark-container .btn-mark:hover {
  color: blue;
  background-color: #8181ff;
}

.past-attendance-container .past-attendance .past-container {
  max-width: 100vw;
  padding: 2rem 4rem;
}

.past-attendance-container .past-attendance .past-container .past-form .past-form-title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
}

.past-attendance-container .past-attendance .past-container .past-form .past-cards {
  margin: 1rem 0;
  border-radius: 0.5rem;
  background-color: #0d1117;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.past-attendance-container .past-attendance .past-container .past-form .past-cards .form-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.past-attendance-container .past-attendance .past-container .past-form .past-cards .form-card .form-title {
  color: yellow;
}

@media screen and (max-width: 768px) {
  .dash-container .dashboard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dash-container .dashboard .dash-left {
    height: auto;
    width: 100%;
  }
  .dash-container .dashboard .dash-left .v-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .dash-container .dashboard .dash-right .dash-bottom .dash-content .dash-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1em;
  }
  .dash-container .dashboard .dash-right .dash-bottom .dash-content .dash-title .greet-title {
    font-size: 1.2rem;
  }
  .add-student-container .add-student .add-container {
    width: 90vw;
  }
  .add-student-container .add-student .add-container .add-form {
    width: 100%;
  }
  .past-attendance-container .past-attendance .past-container {
    padding: 1rem;
  }
  .past-attendance-container .past-attendance .past-container .past-form .past-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mark-attendance-container .mark-attendance .mark-content .cam-container canvas {
    width: 100%;
    height: auto;
  }
  .mark-attendance-container .mark-attendance .mark-content .btn-mark-container {
    gap: 1rem;
  }
}
/*# sourceMappingURL=dashboard.css.map */